@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins&display=swap');

:root {
    --black: #2a2a2a;
    --bg-white: #dededeef;
    --bg-gray: #b9b9b9e0;
    --bg-darker-gray: #5e5e5e;
    --bg-shadow: #6b6b6b93;

}

/* ATLAS */
.image-card {
    max-width: 600px;
    width: 95%;
    margin: 25px auto;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-white);
    display: flex;
    justify-content: center;
}
    
#container {    
    display: flex;
    position: relative;
    border-radius: 25px;
    background: linear-gradient(var(--bg-white), var(--bg-gray));
    backdrop-filter: blur(2px);
    box-shadow: 1px 1px 5px var(--bg-shadow);
    border: 1px solid var(--bg-gray);
    width: clamp(300px, 80%, 600px);
    aspect-ratio: 1;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

#content {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1; 
    cursor: pointer;
    border-radius: 10px;
    transition: ease-out 0.3s;
}

#loader  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#loader img {
    width: 15%;
}

#container[isLoading] #loader {
    display: flex;
}

#container[isLoading = false] #loader {
    display: none;
}

#container[isLoading] #content {
    opacity: 0;
}

#container[isLoading = false] #content {
    opacity: 1;
}

#pins-area {
    transition: ease-out 0.3s;
}

#container[isLoading] #pins-area {
    opacity: 0;  
}

#container[isLoading = false] #pins-area {
    opacity: 1;
}

#container img {
    filter: drop-shadow(1px 10px 10px var(--bg-shadow));
}

.image-info {
    min-height: 100px;
    text-align: center;
}

#main-title {
    font-family: 'Cinzel', sans-serif;
    font-weight: 700;
    color: var(--black);
    padding-top: 15px;
    margin: 0;
}

#image-title {
    text-align: center;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    margin: 0;
}

/* ITEMS & FUNCIONALIDADES */
.navigation-bar {
    width: 50%;
    height: 25px;
    border-radius: 45px;
    margin-top: 10px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigations {
    margin: auto;
    display: flex;
}

.selectors {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0 3px;
    background-color: var(--bg-shadow); 
    color: var(--black);   
    transition: 0.3s all;
    font-size: clamp(0.5em, 1.5em, 60%);
    font-weight: bold;
    opacity: 0.8;
    font-family: 'Poppins', sans-serif;

}

.selected {
    background-color: var(--black);
    color: var(--bg-white);  
    margin: 0 5px;
}

.slide-button svg {
    aspect-ratio: 1;
    height: 100%;
    margin: 15%;
}

.slide-button {
    padding: 0px;
    width: 6%;
    background: transparent;
    color: var(--black);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: 0.15s ease-in;
}

.slide-button:hover {
    background: var(--bg-gray);
    transform: scale(1.2);
}

/* ALFINETES & TOOLTIPS */
.pin {
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
}

.pin[color = red] {
    background-size: 100%;
    background-image: url("../imagens/alfinete_vermelho.png");
}

.pin[color = blue] {
    background-size: 100%;
    background-image: url("../imagens/alfinete_azul.png");
}

#tooltip {
    z-index: 1;
    min-width: 45px;
    max-width: 50%;
    background: var(--bg-white);
    background-size: 800%;
    border-radius: 15px;
    color: #303030;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    padding: 5px;
    display: none;
    word-wrap: break-word;
    box-shadow: 1px 5px 15px var(--bg-shadow);
    transition: 0.2s ease-in-out;
}

#tooltip:hover {
    background: var(--black);
}

#tooltip::after {
    color: var(--black);
    transition: 0.2s ease-in-out;
}

#tooltip:hover::after {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    content: "Ocultar";
    color: var(--bg-white);
}

#tooltip:hover #tooltip-title {
    color: var(--black);
}

#tooltip[data-show] {
    display: flex;
}

#tooltip p {
    color: #000;
    margin: 0;
}

#tooltip-title {
    font-weight: 700;
}

#tooltip-title[color = "red"] {
    color: rgb(184, 52, 52);
}

#tooltip-title[color = "blue"] {
    color: rgb(49, 49, 197);
}

#tooltip-description {
    width: clamp(300px, 80%, 600px);
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid var(--bg-gray);
    box-shadow: 1px 1px 5px var(--bg-shadow);
    color: var(--black);
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-in-out;
}   

#tooltip-description[data-show] {   
    max-height: 350px;
    overflow-y: scroll;
    opacity: 1;
    padding: 10px 0px;
}

#tooltip-description::-webkit-scrollbar {
    display: none;
}

#tooltip-content {  
    text-align: justify;
    margin: 0;
    padding: 10px;
    font-size: 0.75em;
}