@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins&display=swap');

/* ATLAS */
.image-card {
    max-width: 700px;
    width: 95%;
    margin: 25px auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffffc4;
    display: flex;
    justify-content: center;
}

#container {
    background-color: #ffffff56;
    display: flex;
    position: relative;
    border: 1px solid #333333;
    border-radius: 10px;
    box-shadow: 1px 3px 2rem rgba(42, 42, 43, 0.699);
    width: clamp(300px, 80%, 600px);
    aspect-ratio: 1;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#content {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1; 
    cursor: pointer;
    border-radius: 10px;
    transition: ease-out 0.3s;
}

#loader  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#loader img {
    width: 15%;
}

#container[isLoading] #loader {
    display: flex;
}

#container[isLoading = false] #loader {
    display: none;
}

#container[isLoading] #content {
    opacity: 0;
}

#container[isLoading = false] #content {
    opacity: 1;
}

#pins-area {
    transition: ease-out 0.3s;
}

#container[isLoading] #pins-area {
    opacity: 0;  
}

#container[isLoading = false] #pins-area {
    opacity: 1;
}

#main-title {
    font-family: 'Cinzel', sans-serif;
    font-weight: 700;
    color: #313131;
    padding-top: 15px;
    margin: 0;
}

#image-title {
    text-align: center;
    color: #303030;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    margin: 0;
}

/* ITEMS & FUNCIONALIDADES */
.navigation-bar {
    width: clamp(300px, 80%, 600px);
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#navigations {
    display: flex;
    overflow-x: scroll;
}

.selectors {
    width: clamp(12px, 5%, 15px);
    aspect-ratio: 1;
    padding: 8px;
    margin: 0 4px;
    border-radius: 50%;
    background-color: #5757579c;    
    transition: 0.2s all;
}

.selected {
    background-color: #1f1f1fd8;
    margin: 0 10px;
}

.slide-button svg {
    aspect-ratio: 1;
    height: 100%;
    margin: 15%;
}

.slide-button {
    padding: 0;
    margin: 5px;
    width: 8%;
    background-color: #ffffffc4;
    color: #303030;
    border: none;
    cursor: pointer;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2rem rgb(65, 65, 65);
}

.slide-button:active {
    box-shadow: 2px 2px #222;
    transform: translate(2px, 2px);
}

/* ALFINETES & TOOLTIPS */
.pin {
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
}

.pin[color = red] {
    background-size: 100%;
    background-image: url("../imagens/alfinete_vermelho.png");
}

.pin[color = blue] {
    background-size: 100%;
    background-image: url("../imagens/alfinete_azul.png");
}

#tooltip {
    z-index: 1;
    max-width: 50%;
    background-color: #dfdddd;
    border-radius: 5px;
    color: #303030;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    padding: 5px;
    display: none;
    word-wrap: break-word;
    box-shadow: 1px 3px 2rem rgba(42, 42, 43, 0.699);
}

#tooltip[data-show] {
    display: block;
}

#tooltip p {
    color: #000;
    margin: 0;
}

#tooltip-title {
    font-weight: 700;
}

#tooltip-title[color = "red"] {
    color: rgb(184, 52, 52);
}

#tooltip-title[color = "blue"] {
    color: rgb(49, 49, 197);
}

#tooltip-description {
    width: clamp(300px, 80vw, 600px);
    margin-top: 15px;
    background-color: #ffffff75;
    border-radius: 5px;
    color: #303030;
    font-family: 'Poppins', sans-serif;
    display: none;
    word-wrap: break-word;
    border: 1px solid rgba(51, 51, 51, 0.089);
    box-shadow: 1px 3px 2rem rgba(42, 42, 43, 0.342);
}   

#tooltip-description[data-show] {
    display: block;
}

#tooltip-content {  
    text-align: justify;
    margin: 0;
    padding: 5px;
    font-size: 0.75em;
}