/* era um grid e foi ajustado para flex */
#systems-grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	column-gap: 80px;
	margin: auto;
	position: relative;
}

@media screen and (width > 768px) {
	#systems-grid {
		max-width: 1220px;
		margin: auto;
	}
}

.system-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: clamp(150px, 30vw, 175px);
	padding: 15px 0;
	transition: 0.25s all;
	position: relative;
}

.system-card[blocked]:hover::after {
	content: "";
	position: absolute;
	top: 15px;
	width: clamp(120px, 42vw, 185px);
	background-size: 80%;
	background-position: 50%;
	background-repeat: no-repeat;
	aspect-ratio: 1;
	background-color: rgb(114, 114, 114);
	border-radius: 15px;
	background-image: url("../imagens/cadeado.png");
}

.system-card img {
	width: clamp(120px, 40vw, 180px);
	aspect-ratio: 1;
	border-radius: 15px;
	box-shadow: -10px 10px 2rem rgba(0, 0, 0, 0.562);
	filter: grayscale(0.9);
	transition: 0.25s all;
}

.system-card img:hover{
	filter: grayscale(0);
	transform: scale(1.03);
	background-color: #c4c4c4e5;
}

.system-card p {
	width: 95%;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.system-name {
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
	text-align: center;
	font-size: 1em;
}

.selecione{
	text-align: center;
}








