@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins&display=swap');

.card {
    width: clamp(300px, 80%, 1320px);
    margin: 15px auto;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(var(--bg-white), #d2d1d1e0);
    border: solid 0.3px #d8d8d82c;
    backdrop-filter: blur(2px);
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: #2e2e2e;
    text-indent: 50px;
}

.card div {
    flex-grow: 1;
    margin: 10px;
}

#about p {
    text-align: justify;
}

.title {
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    font-size: clamp(1.3em, 3vw, 30%);
    color: #254368;
    letter-spacing: 0.12em;
    text-indent: 0px;
}

.subtitle {
    padding-bottom: 20px;
    color: #2e2e2e;
    font-family: 'Poppins', sans-serif;
}

h2.subtitle {
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.card p.subtitle {
    font-size: 0.95em;
    font-weight: bold;
    margin-top: 25px;
    padding: 0;
}

.card ul {
    list-style-type: square;
    margin-left: 10px;
}

.card li {
    text-indent: 0px;
    margin-top: 20px;
}

.card a, .card a:visited {
    color: #2e2e2e;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}