@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
	margin: 0;
    background-image: url("../imagens/fundo.png");
    color: #F1F1F1;
    font-family: 'Cinzel', sans-serif;
    position: relative;
    min-height: 100vh;
    font-size: clamp(18px, 2vw, 20px);
    scroll-behavior: smooth;
}

header {
    height: clamp(150px, 15vh, 250px);
}

header .logoPrincipal {
    height: 60%;
}

header .navbar {
	background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

header .navbar a {
    display: flex;
    background-color: red;
}

main {
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #18181854;
    font-size: 0.85em;
}

.opcoes{
    text-align: center;
}

.opcoes a{	
	color: #FFFFFF;
    padding: 0 10px;
	text-decoration: none;
}

.opcoes a:hover{	
	color: #888888;
    border-bottom: 3px solid rgb(88, 88, 88);
}


/* CONTEÚDO BODY */
body section {
    display: none;
}

body[data-show = home] #home {
    display: block;
}

body[data-show = atlas] #atlas {
    display: block;
}

body[data-show = guide] #guide {
    display: block;
}

body[data-show = team] #team {
    display: block;
}

body[data-show = about] #about {
    display: block;
}

body[data-show = error] #error {
    display: block;
}

#error {
    text-align: center;
}

#error .erro{
    font-size: 4em;
    font-weight: bold;
    color: rgb(32, 57, 80);
    text-indent: 0;
}