@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
  background-image: linear-gradient(rgba(91, 86, 245, 0.116), rgba(0,0,0,0.4)), url("../imagens/fundo.png");
  color: #F1F1F1;
  font-family: 'Cinzel', sans-serif;
  font-size: clamp(18px, 2vw, 20px);
  position: relative;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #18181854;
    border-bottom: 3px solid #18181854;
}

header .logoPrincipal {
    backdrop-filter: blur(2px);
    height: clamp(40px, 15vh, 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .logo {
    max-height: 70%;
}

header .navbar {
	background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
}

header .navbar .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

header .navbar a {
    display: flex;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

footer {
    width: 100%;
    height: clamp(50px, 8vh, 100px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #18181854;
    font-size: clamp(10px, 3vh, 55%);
    backdrop-filter: blur(2px);
    padding-top: 5px;
    border-top: 3px solid #18181854;
}

footer p {
    margin: 0;
    padding: 0px 0;
    max-width: 90%;
}

footer a, footer a:hover, footer a:visited {
    color: #F1F1F1;
}

.opcoes{
    text-align: center;
}

.opcoes a{	
	color: #FFFFFF;
    padding: 0 10px;
	text-decoration: none;
}

.opcoes a:hover{	
	color: #888888;
    border-bottom: 3px solid rgb(88, 88, 88);
}


/* CONTEÚDO BODY */
body section {
    display: none;
}

body[data-show = home] #home {
    display: block;
}

body[data-show = atlas] #atlas {
    display: block;
}

body[data-show = guide] #guide {
    display: block;
}

body[data-show = team] #team {
    display: block;
}

body[data-show = about] #about {
    display: block;
}

body[data-show = subsystems] #home {
    display: block;
}

body[data-show = error] #error {
    display: block;
}

#error {
    text-align: center;
}

#error .erro{
    font-size: 4em;
    font-weight: bold;
    color: rgb(32, 57, 80);
    text-indent: 0;
}