
/* MENU HAMBURGUER */
#sidebar-icon {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    z-index: 2;
}

#sidebar-icon.active {
    position: absolute;
    top: 20px;
    right: 10px;
}

#sidebar-icon div {
    background-color: rgb(37, 37, 37);
    height: 6px;
    width: 100%;
    transition: 0.3s all ease;
    position: absolute;
    border-radius: 5px;
}

#sidebar-icon :nth-child(1) {
    top: 4px;
}

#sidebar-icon :nth-child(2) {
    top: 12px;
}

#sidebar-icon :nth-child(3) {
    top: 20px;
}

#sidebar-icon.active div {
    background-color: rgb(198, 56, 56);
}

#sidebar-icon.active :nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
}

#sidebar-icon.active :nth-child(2) {
    opacity: 0;
}

#sidebar-icon.active :nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
}


/* MENU SIDEBAR CONTAINER & WRAPPER */
#sidebar-wrapper {   
    background: #1f1f1fef;
    backdrop-filter: blur(7px);
    transition: 0.25s all ease;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    width: 0;
    height: 100%;
}

#sidebar-wrapper.active {
    width: clamp(400px, 50vw, 500px); 
}

@media screen and (width < 768px) {
    #sidebar-wrapper.active {
        width: 100vw;
    }  
}

#menu-sidebar-container {
    width: 100%;
    height: 95%;
    margin-top: 60px;
    overflow: scroll;
    scroll-behavior: smooth;  
    transition: 0.25s all ease;
    transform: translateX(100%);
    display: none;
}

#menu-sidebar-container.active {
    display: block;
    transform: translateX(0);
}

::-webkit-scrollbar {
    width: 0;
}


/* MENU SIDEBAR ITEMS */
#menu-sidebar-container a {
    display: block;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    margin: 0 15px;
}

#menu-sidebar-container a:hover {
    background-color: rgba(111, 116, 121, 0.363);
}

#menu-sidebar-container a.active{
   background-color: rgba(44, 48, 50, 0.351);
}

.dropdown {
    position: relative;
    transition: 0.25s all ease;
}

.dropdown.active {
    background-color: #6f6f6f17;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.dropdown::after {
    display: block;
    content:"";
    width: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: currentColor;
    position: absolute;
    right: 10%;
    top: 28px;
    transform: rotate(90deg);
    transition: 0.25s all ease;
}

.dropdown::before {
    display: block;
    content:"";
    width: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: currentColor;
    position: absolute;
    right: 10%;
    top: 28px;
    transition: 0.25s all ease;
}

.dropdown.active::after {
    top: 38px;
    transform: rotate(0deg);
}

.dropdown.active::before {
    top: 38px;
    opacity: 0;
}

.dropdown .dropdown-content {   
    display: none;
}

.dropdown.active .dropdown-content.active {
    display: block;
}


/* MENU DE PESQUISA */

#search {
    background: none;
    border: none;
}

#search img {
    margin-right: 10px;
    width: 25px;
}

#search-menu-container {
    width: 85%;
    height: 100%;
    transform: translateX(200%);
    transition: 0.25s all;
    margin: 10px;
}

#search-results-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input-container {
    width: 100%;
    height: 45px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #c4c4c45d; 
    border-radius: 45px; 
    transition: 0.25s all ease-in-out;
}

#search-menu-container.active {
    transform: translateX(0);
}

#search-input {
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.669)
}

#search-button {  
    margin: 10px;
    border: none;
    outline: none;
    background: none;
}

#input-container:hover img {
    width: 30px;
}

#search-button img {
    width: 20px;
    filter: invert();
    opacity: 0.6;
    transition: 0.2s all ease-in-out;
}

.result-item {
    margin-top: 12px;
    width: 100%;
    min-height: 50px;
    background-color: #6d6d6d44;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-item p {
    padding-left: 15px;
    margin: 0;
}

.result-item p.item-parents {
    font-size: 0.5em;
    opacity: 0.65;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}