
/* MENU HAMBURGUER */
#menu-container {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    z-index: 999;
}

#menu-container div {
    background-color: rgb(37, 37, 37);
    height: 6px;
    width: 100%;
    transition: 0.3s all ease;
    position: absolute;
    border-radius: 5px;
}

#menu-container :nth-child(1) {
    top: 4px;
}

#menu-container :nth-child(2) {
    top: 12px;
}

#menu-container :nth-child(3) {
    top: 20px;
}

#menu-container.active div {
    background-color: rgb(255, 72, 72);
}

#menu-container.active :nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
}

#menu-container.active :nth-child(2) {
    opacity: 0;
}

#menu-container.active :nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
}


/* MENU SIDEBAR CONTAINER & WRAPPER */
#sidebar-wrapper {   
    background: #1f1f1fef;
    backdrop-filter: blur(7px);
    transition: 0.25s all ease;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 99;
    width: 0;
    height: 100%;
}

#sidebar-wrapper.active {
    width: clamp(400px, 50vw, 500px); 
}

@media screen and (width < 768px) {
    #sidebar-wrapper.active {
        width: 100vw;
    }  
}

#menu-sidebar-container {
    width: 100%;
    height: 95%;
    margin-top: 50px;
    overflow: scroll;
    scroll-behavior: smooth;  
    transition: 0.25s all ease;
    transform: translateX(100%);
}

#menu-sidebar-container.active {
    transform: translateX(0);
}

::-webkit-scrollbar {
    width: 2;
}


/* MENU SIDEBAR ITEMS */
#menu-sidebar-container a {
    display: block;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    margin: 0 15px;
}

#menu-sidebar-container a:hover {
    background-color: rgba(111, 116, 121, 0.363);
}

#menu-sidebar-container a.active{
   background-color: rgba(44, 48, 50, 0.351);
}

.dropdown {
    position: relative;
    transition: 0.25s all ease;
}

.dropdown.active {
    background-color: #6f6f6f17;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.dropdown::after {
    display: block;
    content:"";
    width: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: currentColor;
    position: absolute;
    right: 10%;
    top: 28px;
    transform: rotate(90deg);
    transition: 0.25s all ease;
}

.dropdown::before {
    display: block;
    content:"";
    width: 14px;
    height: 4px;
    border-radius: 5px;
    background-color: currentColor;
    position: absolute;
    right: 10%;
    top: 28px;
    transition: 0.25s all ease;
}

.dropdown.active::after {
    top: 38px;
    transform: rotate(0deg);
}

.dropdown.active::before {
    top: 38px;
    opacity: 0;
}

.dropdown .dropdown-content {   
    display: none;
}

.dropdown.active .dropdown-content.active {
    display: block;
}


