@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Poppins&display=swap');

#systemName {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 20px;
}

#title {
    font-size: 1.5em;
    color: #303030;
    font-family: 'Poppins', sans-serif;
}

.card {
    width: 90%;
    margin: auto;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    position: relative;
}

.alfinete {
    position: relative;
}

object {
    width: 100%;
    height: 100%;
}

#content {
    width: clamp(600px, 80vw, 1000px);
    aspect-ratio: 1;
    object-fit: cover;
    background-color: rgb(10, 35, 82);
    cursor: pointer;
    border-radius: 10px;
}

.navigationBar {
    display: flex;
    flex-direction: row;
}

.selectors {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: rgba(87, 87, 87, 0.612);
    border-radius: 50%;
    border: none;
}

.selected {
    background-color: #1f1f1fd8;
}

.slideButton {
    width: 60px;
    height: 60px;
    background-color: rgba(197, 197, 197, 0.815);
    color: rgba(0, 0, 0, 0.705);
    border: none;
    cursor: pointer;
    border-radius: 15%;
    display: flex;
    box-shadow: 4px 4px #222;

    position: absolute;
    top: 50%;
}

.slideButton:active {
    box-shadow: 2px 2px #222;
    transform: translate(2px, 2px);
}

.slideLeft {
    left: 2%;
}

.slideRight {
    right: 2%;
}