#systems-grid {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3vh;
	width: 80vw;
	margin: auto;
}

.view {
	width: 200px;
	height: 200px;	
	border-radius: 8%;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.8);
    overflow: hidden;
    position: relative;
}

#systems-grid .card {
	order: inherit;
	
	display: grid;
	grid-template-rows: 5fr 1fr;
	align-items: center;
	justify-content: center;
	width: clamp(150px, 20%, 180px);
	aspect-ratio: 1;

}

#systems-grid .card a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#systems-grid .card a img{
	width: 100%;
	aspect-ratio: 1;

}

#systems-grid .title, #systems-grid .title a {
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.selecione{
	text-align: center;
}

.imgSistema{
	width: 100%;
	height: 100%;	
	border-radius: 8%;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.8);
}

/* Gray Scale */
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
	display: block;
	position: relative
}

.view-second img {  
    transition: all 0.2s ease-in;
}

.view-second .mask {
	background-color: rgba(100, 100, 100, 0.5);
	width: 300px;
	padding: 60px;
	height: 300px;
	opacity: 1;
	transform: translate(0px, 0px);
	transition: all 0.2s ease-in-out;
}

.view-second:hover .mask {
	opacity: 0;
	transform: translate(-80px, 0px);
}

.nomes td {
	padding-top: 10px;
	vertical-align: top;
}

.mainSystemImage {
	display: table;
	margin: 0 auto;
	top: 50%;
	margin-top: 60px;
	border-radius: 30px;
	width: 500px;
	height: 600px;
	border-color: white;
	border-style: solid;
	border-width: 4px;
}


