@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

.menu {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3vh;
}

.view {
	width: 150px;
	height: 150px;	
	border-radius: 8%;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.8);
    overflow: hidden;
    position: relative;
}

.menu .card {
	order: inherit;
	
	display: grid;
	grid-template-rows: 5fr 1fr;
	align-items: center;
	justify-content: center;
	width: clamp(150px, 20%, 180px);
	aspect-ratio: 1;

}

.menu .card a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.menu .card a img{
	width: 100%;
	aspect-ratio: 1;

}

.menu .title, .menu .title a {
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

footer {
	text-shadow: 3px 2px 1px rgba(0,0,0,1);
	font-size: 12px; 
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.selecione{
	text-align: center;
}

.imgSistema{
	width: 100%;
	height: 100%;	
	border-radius: 8%;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.8);
}

.departamento {
	text-align: center;
}

@media screen and (max-width:400px) {
	.view {
		width: 80px;
		height: 80px;
	}

	.menu .title {
		font-size: 15px;
	}
}

.opcoes{
    text-align: right;
    padding-right: 80px; 
}

.opcoes a{	
	font-family: 'Cinzel', sans-serif;
	color: #FFFFFF;
	padding-left:1%;
	text-decoration: none;
}

.opcoes a:hover{	
	color: #888888;
}

body{
	background-image: url("../_imagens/fundo.png");
	font-family: 'Cinzel', sans-serif;
	color: #FFFFFF;
	font-size: 17px;
	padding: 0%;
	margin-top: 0%;
	width: 100vw;
	box-sizing: border-box;
	margin: 0;
}

p.tituloImagem {
	text-align: left;
	margin-top: 15px;
	margin-left: 450px;
	float: left;
	color: black;
	font-family: arial;
	font-weight: bold;
	font-size: 130%;
}

p#loadExternalFile {
	height: 750px;
	width: 800px;
	text-align: center;
	margin-left: -500px;
	margin-top: 100px;
}

.content{ 
  	margin-top: 30px;
	text-align: center;
}

.navbar {
	background: #F1F1F1;
	border-bottom: 1px solid #E1E1E1;
	width: 100%;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 30px;
	overflow: hidden;
	position: fixed;
	top: 0;
	margin-left: -0.5%;
	z-index: 1;
}

div#mainContent {
	background-image: url("../_imagens/BaseFigura.png");
	background-repeat: no-repeat;
	background-size: 1200px;
	background-position: center top;
	padding-top: 30px;
}

div#principal{
	text-align: center;
}

div#faixa{  
	margin-top: -10px;
	margin-left: 5px;
	margin-right: 5px;
	height: 50px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

div#tituloSistema{
	position: absolute;
	top: 9.5%;
	font-size: 15pt;
	padding-left: 5%;
	color: white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

div#menu ul.principal{
	display: flex;
}

div#submenu {
	text-align: center;
	padding-top: 2%;
}

div.tituloImagem {
	color: black;
	background: black;
}

/* Gray Scale */
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view img {
	display: block;
	position: relative
}

.view-second img {  
    transition: all 0.2s ease-in;
}

.view-second .mask {
	background-color: rgba(100, 100, 100, 0.5);
	width: 300px;
	padding: 60px;
	height: 300px;
	opacity: 1;
	transform: translate(0px, 0px);
	transition: all 0.2s ease-in-out;
}

.view-second:hover .mask {
	opacity: 0;
	transform: translate(-80px, 0px);
}

.nomes td {
	padding-top: 10px;
	vertical-align: top;
}

.slideButton {
	width: 60px;
	height: 60px;
	background: rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.3);
	border: none;
	cursor: pointer;
	border-radius: 15%;
	display: flex;
	left: 50%;
	margin-top: 340px;
	position: absolute;
	box-shadow: 4px 4px #222;
}

.slideButton:active {
	box-shadow: 2px 2px #222;
	transform: translate(2px, 2px);
}

.slideLeft {
	margin-left: -600px;
}

.slideRight {
	margin-left: 560px;
}

#container {
	margin: auto;
	margin-top: -200px;
	z-index: 1;
}

.child {
	text-align: center;
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.3);
	float: left;
	margin-top: 13px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 2px;
}

.selected {
	background: rgba(255, 255, 255, 0.9);
}

.mainTitle {
	margin-left: 5px;
	margin-right: 5px;
	height: 50px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
	color: white;
	font-size: 250%;
}

.mainSystemImage {
	display: table;
	margin: 0 auto;
	top: 50%;
	margin-top: 60px;
	border-radius: 30px;
	width: 500px;
	height: 600px;
	border-color: white;
	border-style: solid;
	border-width: 4px;
}

#LogoPrincipal {
	text-align: center;
}

