#systems-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	width: 85vw;
	margin: auto;
}

#systems-grid .system-card {
	order: inherit;
	display: grid;
	grid-template-rows: 5fr 1fr;
	align-items: center;
	justify-content: center;
	width: clamp(150px, 20%, 180px);
	aspect-ratio: 1;
}

#systems-grid .system-card a{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#systems-grid .system-card a img{
	width: 100%;
	aspect-ratio: 1;
	border-radius: 8%;
	box-shadow: -10px 10px 10px rgba(0,0,0,0.8);
	filter: grayscale(0.8);
}

#systems-grid .system-card a img:hover{
	filter: grayscale(0);
}

#systems-grid .system-name, #systems-grid .system-name a {
	color: #ffffff;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.selecione{
	text-align: center;
}







