@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Philosopher);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Cinzel);

body {
	margin: 0;
    background-image: url("../_imagens/fundo.png");
    color: #F1F1F1;
    font-family: 'Cinzel', sans-serif;
    position: relative;
    min-height: 100vh;

    font-size: clamp(18px, 3vw, 25px);
}

header {
    height: clamp(150px, 15vh, 250px);
}

header .logoPrincipal {
    height: 65%;
}

header .navbar {
	background: #F1F1F1;
    height: 35%;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

header .navbar a img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 20px;
}

main {
    padding: 3rem 0 300px 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 150px;
    background-color: #18181854;
}

.departamento {
	text-align: center;
}

.opcoes{
    text-align: center;
}

.opcoes a{	
	color: #FFFFFF;
    padding: 0 10px;
	text-decoration: none;
}

.opcoes a:hover{	
	color: #888888;
    border-bottom: 3px solid rgb(88, 88, 88);
}
