#menu-container {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    z-index: 999;
}

#menu-container div {
    background-color: rgb(37, 37, 37);
    height: 6px;
    width: 100%;
    transition: 0.3s all ease;
    position: absolute;
    border-radius: 5px;
}

#menu-container :nth-child(1) {
    top: 4px;
}

#menu-container :nth-child(2) {
    top: 12px;
}

#menu-container :nth-child(3) {
    top: 20px;
}

#menu-container.active div {
    background-color: rgb(255, 72, 72);
}

#menu-container.active :nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
}

#menu-container.active :nth-child(2) {
    opacity: 0;
}

#menu-container.active :nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
}

#menu-sidebar-container {
    width: clamp(400px, 40vw, 500px); 
    height: 100%;
    background-color: #292929;
    transition: 0.25s all ease;
    transform: translateX(100%);
    padding-top: 30px;
}

.sidebar-wrapper{   
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 99;
}

@media screen and (width < 768px) {
    #menu-sidebar-container.active {
        width: 100vw;
    }
}

#menu-sidebar-container.active {
    transform: translateX(0);
}

#menu-sidebar-container a {
    display: block;
    padding: 1rem;
    text-align: center;
    margin: 15px 10px;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}

#menu-sidebar-container a:hover {
    background-color: rgba(111, 116, 121, 0.363);
}

#menu-sidebar-container a.active{
    background-color: rgba(111, 116, 121, 0.363);
}

.dropdown {
    position: relative;
}

.dropdown::after {
    display: block;
    content:"";
    width: 15px;
    height: 4px;
    border-radius: 5px;
    background-color: currentColor;
    position: absolute;
    right: 7%;
    bottom: 50%;
    transform: rotate(45deg);
}

.dropdown::before {
    display: block;
    content:"";
    width: 15px;
    height: 4px;
    border-radius: 5px;
    background-color: currentColor;
    position: absolute;
    right: 5%;
    bottom: 50%;
    transform: rotate(-45deg);
}

.dropdown.dropdown.active::after {
    transform: rotate(-45deg);
    top: 3%;
}

.dropdown.dropdown.active::before {
    transform: rotate(45deg);
    top: 3%;
}

.dropdown.active .dropdown-content {
    display: block;
}

.dropdown .dropdown-content {
    display: none;
}

body section {
    display: none;
}

body[data-show = home] #home {
    display: block;
}

body[data-show = atlas] #atlas {
    display: block;
}

body[data-show = guide] #guide {
    display: block;
}

body[data-show = team] #team {
    display: block;
}

body[data-show = about] #about {
    display: block;
}
