#menu-container {
    width: 30px;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
    background-color: white;
}

#menu-container div {
    background-color: rgb(37, 37, 37);
    height: 6px;
    width: 100%;
    transition: 0.3s all ease;
    position: absolute;
}

#menu-container :nth-child(1) {
    top: 4px;
}

#menu-container :nth-child(2) {
    top: 12px;
}

#menu-container :nth-child(3) {
    top: 20px;
}

#menu-container.active :nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
}

#menu-container.active :nth-child(2) {
    opacity: 0;
}

#menu-container.active :nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
}

body {
    overflow-x: hidden;
}

#menu-sidebar-container {

    display: none;
    
    width: 45vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(41, 41, 41);
    transition: 0.75s all ease;
    transform: translateX(45vw);
    border-bottom-left-radius: 15px;
}

#menu-sidebar-container.active {
    transform: translateX(0); 
}

#menu-sidebar-container a {
    display: block;
    padding: 1rem;
    text-align: center;
}

.system {
    font-weight: bold;
    background-color: gray;
}

.subsystem {
    background-color: rgb(185, 185, 185);
}

