#menu {
    position: absolute;
    top: 15%;
    right: 2%;
    transition: 0.75s all ease;
}

#menu-container {
    width: 30px;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    background: transparent;
    position: relative;
}

#menu-container div {
    background-color: rgb(37, 37, 37);
    height: 6px;
    width: 100%;
    transition: 0.25s all ease;
    position: absolute;
    border-radius: 5px;
}

#menu-container :nth-child(1) {
    top: 4px;
}

#menu-container :nth-child(2) {
    top: 12px;
}

#menu-container :nth-child(3) {
    top: 20px;
}

#menu.active {
    z-index: 9999;
}

#menu.active #menu-container div {
    background-color: rgb(189, 50, 50);
}

#menu.active #menu-container :nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
}

#menu.active #menu-container :nth-child(2) {
    opacity: 0;
}

#menu.active #menu-container :nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
}

#menu-sidebar-container {
    width: 35vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(41, 41, 41);
    transition: 0.75s all ease;
    border-bottom-left-radius: 15px;
    transform: translateY(-100%);
    z-index: 99;
}

#menu-sidebar-container :nth-child(1) {
    margin-top: 60px;
}

#menu-sidebar-container.active {
    transform: translateY(0);
}

#menu-sidebar-container a {
    display: block;
    padding: 1rem;
    text-align: center;
    margin: 15px 10px;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}

#menu-sidebar-container a:hover {
    background-color: rgba(111, 116, 121, 0.363);
}

body section {
    display: none;
}

body[show-data = home] #home {
    display: block;
}

body[show-data = atlas] #atlas {
    display: block;
}

body[show-data = guide] #guide {
    display: block;
}

body[show-data = team] #team {
    display: block;
}

body[show-data = about] #about {
    display: block;
}
